@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
}

#wrapper {
  overflow-x: hidden;
}

.sidebar-lists, #sidebar-wrapper .list-group {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #A4A6B3;
}

.text-bottom, .container-fluid .bottom-row .col .row-header a, .container-fluid .bottom-row .col .col-12 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #252733;
}

.span, .container-fluid .row-top .col span, .container-fluid .bottom-row .col .col-12 span {
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #9FA2B4;
}

.span-12px, .container-fluid .middle-row .col-8 span, .container-fluid .bottom-row .col .row-header span {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #9FA2B4;
}

.button, .container-fluid .bottom-row .col .col-12 .btn {
  font-weight: bold;
  font-size: 11px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 100px;
}

.h3, .container-fluid .middle-row .col-8 h3, .container-fluid .bottom-row .col .row-header h4 {
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #252733;
}

/*--------- Sidebar -------------*/
#sidebar-wrapper {
  min-height: 100vh;
  background-color: #363740;
  position: fixed;
  width: 255px;
}

#sidebar-wrapper .logo {
  padding: 37px 30px;
  font-weight: bold;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #A4A6B3;
  opacity: 0.7;
}

#sidebar-wrapper .list-group {
  width: 255px;
  margin-top: 20px;
}

#sidebar-wrapper .list-group .list-group-bottom {
  margin-top: 14px;
}

#sidebar-wrapper .list-group .list-group-top {
  padding-bottom: 16px;
  border-bottom: 1px solid #4f515a;
}

#sidebar-wrapper .list-group .list-group-item {
  display: block;
  background: transparent;
  color: #A4A6B3;
  padding-left: 20px;
  overflow-x: hidden;
  padding: 18px 24px 18px 32px;
}

#sidebar-wrapper .list-group .list-group-item:hover {
  background: #4f515a;
}

#sidebar-wrapper .list-group .list-group-item img {
  padding-right: 24px;
}

#sidebar-wrapper .list-group .list-active {
  background: #4f515a;
}

#page-content-wrapper {
  min-width: 100vw;
  padding: 15px 15px;
  background: #E5E5E5;
  margin-left: 255px;
}

#page-content-wrapper .navbar .container-fluid .navbar-toggler {
  position: absolute;
  top: 5px;
  right: 20px;
}

#page-content-wrapper .navbar .container-fluid .lists .dropdown {
  display: none;
}

#page-content-wrapper .navbar .container-fluid h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.3px;
  color: #252733;
}

/*  ----------Overview--------*/
.container-fluid .desktop-none {
  display: none;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #A4A6B3;
}

.container-fluid .row-top .col {
  background: #FFFFFF;
  border: 1px solid #DFE0EB;
  -webkit-box-sizing: unset;
          box-sizing: unset;
  border-radius: 8px;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 1px;
  color: #252733;
  padding: 8px 32px 32px 32px;
  margin: 30px 15px;
}

.container-fluid .row-top .col:hover {
  color: #3751FF;
  border: 1px solid #3751FF;
}

.container-fluid .row-top .col:hover span {
  color: #3751FF;
}

.container-fluid .middle-row {
  background: #FFFFFF;
  border-radius: 8px;
  margin: 0 5px;
}

.container-fluid .middle-row .col-8 {
  padding: 29px 0 0 29px;
}

.container-fluid .middle-row .col-8 .graph-img {
  width: 99.99%;
  margin-top: 50px;
  height: 380px;
}

.container-fluid .middle-row .col {
  border: 1px solid;
  margin-left: 32px;
}

.container-fluid .middle-row .col .right-col {
  width: 100%;
  padding: 23px 0;
  margin: 0;
  border: 1px solid #DFE0EB;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.3px;
  color: #252733;
}

.container-fluid .middle-row .col .right-col:hover {
  color: #3751FF;
  border: 1px solid #3751FF;
}

.container-fluid .middle-row .col .right-col:hover span {
  color: #3751FF;
}

.container-fluid .middle-row .col .right-col span {
  font-size: 16px;
  letter-spacing: 0.3px;
  font-weight: 600;
  line-height: 22px;
  color: #9FA2B4;
}

.container-fluid .bottom-row .col {
  background-color: #fff;
  border: 1px solid #DFE0EB;
  border-radius: 8px;
  margin: 30px 15px;
}

.container-fluid .bottom-row .col .row-header {
  padding: 36px 32px 0 32px;
}

.container-fluid .bottom-row .col .row-header h4 {
  margin: 0;
}

.container-fluid .bottom-row .col .row-header a {
  text-decoration: none;
  color: #3751FF;
}

.container-fluid .bottom-row .col .col-12 {
  padding: 16px 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #DFE0EB;
}

.container-fluid .bottom-row .col .col-12 span {
  font-size: 14px;
}

.container-fluid .bottom-row .col .col-12 .btn-yellow {
  background: #FEC400;
}

.container-fluid .bottom-row .col .col-12 .btn-yellow:hover {
  background-color: #fec3008a;
}

.container-fluid .bottom-row .col .col-12 .btn-grey {
  background: #F0F1F7;
  color: #9FA2B4;
}

.container-fluid .bottom-row .col .col-12 .btn-grey:hover {
  background-color: #aaaaac;
  color: #fff;
}

.container-fluid .bottom-row .col .col-12 .btn-green {
  background: #29CC97;
}

.container-fluid .bottom-row .col .col-12 .btn-green:hover {
  background-color: #29cc96b0;
}

.container-fluid .bottom-row .col .col-12 .form-check input {
  margin-right: 16px;
}

/*------------ Overview-End ---------*/
/*----------- Media Query ----------*/
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
    padding: 0;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
}

@media (max-width: 992px) {
  #sidebar-wrapper {
    display: none;
  }
  #page-content-wrapper {
    margin-left: 0;
  }
  #page-content-wrapper .navbar .container-fluid h2 {
    padding: 10px 0;
    text-align: center;
  }
  #page-content-wrapper .navbar .container-fluid .desktop-none {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 15px;
  }
  #page-content-wrapper .navbar .container-fluid .lists .border-end {
    display: contents;
  }
  #page-content-wrapper .navbar .container-fluid .lists .profile-list {
    display: contents;
  }
  #page-content-wrapper .navbar .container-fluid .lists .dropdown {
    display: block;
  }
}

@media (max-width: 768px) {
  .container-fluid .middle-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container-fluid .middle-row .col-8 {
    width: 95%;
  }
  .container-fluid .middle-row .col {
    margin-left: 0;
  }
  .container-fluid .bottom-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
  }
  .container-fluid .bottom-row .col {
    margin: 0;
    margin-top: 30px;
  }
}

@media (max-height: 600px) {
  #sidebar-wrapper {
    position: unset;
  }
  #page-content-wrapper {
    margin-left: 0;
  }
}
/*# sourceMappingURL=style2.css.map */